@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/300/open-sans-300.eot');
    src: url('../fonts/open-sans/300/open-sans-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/300/open-sans-300.woff2') format('woff2'),
         url('../fonts/open-sans/300/open-sans-300.woff') format('woff'),
         url('../fonts/open-sans/300/open-sans-300.ttf') format('truetype'),
         url('../fonts/open-sans/300/open-sans-300.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/300-italic/open-sans-300-italic.eot');
    src: url('../fonts/open-sans/300-italic/open-sans-300-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/300-italic/open-sans-300-italic.woff2') format('woff2'),
         url('../fonts/open-sans/300-italic/open-sans-300-italic.woff') format('woff'),
         url('../fonts/open-sans/300-italic/open-sans-300-italic.ttf') format('truetype'),
         url('../fonts/open-sans/300-italic/open-sans-300-italic.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/400/open-sans-400.eot');
    src: url('../fonts/open-sans/400/open-sans-400.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/400/open-sans-400.woff2') format('woff2'),
         url('../fonts/open-sans/400/open-sans-400.woff') format('woff'),
         url('../fonts/open-sans/400/open-sans-400.ttf') format('truetype'),
         url('../fonts/open-sans/400/open-sans-400.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/400-italic/open-sans-400-italic.eot');
    src: url('../fonts/open-sans/400-italic/open-sans-400-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/400-italic/open-sans-400-italic.woff2') format('woff2'),
         url('../fonts/open-sans/400-italic/open-sans-400-italic.woff') format('woff'),
         url('../fonts/open-sans/400-italic/open-sans-400-italic.ttf') format('truetype'),
         url('../fonts/open-sans/400-italic/open-sans-400-italic.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/600/open-sans-600.eot');
    src: url('../fonts/open-sans/600/open-sans-600.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/600/open-sans-600.woff2') format('woff2'),
         url('../fonts/open-sans/600/open-sans-600.woff') format('woff'),
         url('../fonts/open-sans/600/open-sans-600.ttf') format('truetype'),
         url('../fonts/open-sans/600/open-sans-600.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/600-italic/open-sans-600-italic.eot');
    src: url('../fonts/open-sans/600-italic/open-sans-600-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/600-italic/open-sans-600-italic.woff2') format('woff2'),
         url('../fonts/open-sans/600-italic/open-sans-600-italic.woff') format('woff'),
         url('../fonts/open-sans/600-italic/open-sans-600-italic.ttf') format('truetype'),
         url('../fonts/open-sans/600-italic/open-sans-600-italic.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/700/open-sans-700.eot');
    src: url('../fonts/open-sans/700/open-sans-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/700/open-sans-700.woff2') format('woff2'),
         url('../fonts/open-sans/700/open-sans-700.woff') format('woff'),
         url('../fonts/open-sans/700/open-sans-700.ttf') format('truetype'),
         url('../fonts/open-sans/700/open-sans-700.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/700-italic/open-sans-700-italic.eot');
    src: url('../fonts/open-sans/700-italic/open-sans-700-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/700-italic/open-sans-700-italic.woff2') format('woff2'),
         url('../fonts/open-sans/700-italic/open-sans-700-italic.woff') format('woff'),
         url('../fonts/open-sans/700-italic/open-sans-700-italic.ttf') format('truetype'),
         url('../fonts/open-sans/700-italic/open-sans-700-italic.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/800/open-sans-800.eot');
    src: url('../fonts/open-sans/800/open-sans-800.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/800/open-sans-800.woff2') format('woff2'),
         url('../fonts/open-sans/800/open-sans-800.woff') format('woff'),
         url('../fonts/open-sans/800/open-sans-800.ttf') format('truetype'),
         url('../fonts/open-sans/800/open-sans-800.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/800-italic/open-sans-800-italic.eot');
    src: url('../fonts/open-sans/800-italic/open-sans-800-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/800-italic/open-sans-800-italic.woff2') format('woff2'),
         url('../fonts/open-sans/800-italic/open-sans-800-italic.woff') format('woff'),
         url('../fonts/open-sans/800-italic/open-sans-800-italic.ttf') format('truetype'),
         url('../fonts/open-sans/800-italic/open-sans-800-italic.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'linecons';
    src: url('../fonts/linecons/400/linecons-400.eot');
    src: url('../fonts/linecons/400/linecons-400.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linecons/400/linecons-400.woff2') format('woff2'),
         url('../fonts/linecons/400/linecons-400.woff') format('woff'),
         url('../fonts/linecons/400/linecons-400.ttf') format('truetype'),
         url('../fonts/linecons/400/linecons-400.svg#linecons') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: OpenSans, sans-serif;
	height: 100%;
	width: 100%;
	text-align: center;

}
.clearfix {
	overflow: auto;
}
.container {
	display: block;
	width: 1024px;
	margin: 0 auto;

}
.container1 {
	display: block;
	width: 1024px;
	margin: 0 auto;
	background-color: #f8fbfd;

}
.header-wrapper {
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
.header {
	height: 60px;
	overflow: hidden;

}
.header-logo {
	display: block;
	float: left;
	padding: 2px 0;

}
ul.header-nav {
	float: right;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ul.header-nav > li {
	display: inline-block;
}
ul.header-nav > li > a {
	display: inline-block;
	padding: 19px 10px;
	color: #8f969d;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}
ul.header-nav > li > a:hover {
	color: black;
}
.header-nav > li.header-nav-cta > a {
	background-color: #2fca2d;
	border-radius: 20px;
	padding: 6px 30px; 
	color: #fff;
}
/*
.btn-buy {
	color: white;
	padding: 0 20px;
	background-color: #ff6622;
	border-radius: 50px;
}
.jumbo  {
	text-align: center;
	

}
.jumbo > h1 {
	margin-top: 110px;
	color: #374048;
	font-size: 81px;
}
.jumbo > p {
	color: #8f969d;
	font-size: 30px;
	margin: 10px 230px;
}
.jumbo > div {
	margin-top: 60px;
}
.jumbo > div > a {
	font-size: 30px;
	color: white;
	background-color: #0084ff;
	border-radius: 50px;
	padding: 20px 80px;
	text-decoration: none;
}
.jumbo > img {
	margin-top: 100px;
}
*/ 
.product {
	position: relative;
	background: url(../image/backgr.jpg) center no-repeat ;
	height: 1000px;
	padding-top: 60px;
	text-align: center;


}
	.product-title {
		color: #374048;
		font-size: 79px;
		padding-top: 10px;

	}
	.product-description {
		color: #8a9095;
		font-size: 27px;
		padding: 0 130px;
		line-height: 44px;


	}
	.product-cta {
		display: inline-block;
		background-color: #2fca2d;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 27px;
		padding: 20px 40px;
		border-radius: 30px;
		margin-top: 40px;

	}
	.product-cta:hover {
		background-color: #337ab7;
	}

	.product-image {
		position: absolute;
		width: 290px;
		height: 328px;
		bottom: 40px;
		left: 50%;
		margin: 0 0 0 -145px;
	}
.the_product {
	

}
.product-name {
	margin-top: 90px;
	color: #374048;
	font-size: 40px;
}
.product-descr {
	color: #969da3;
	font-size: 20px;
    line-height: 24px;
    margin: 0 150px;
    line-height: 35px;

}
.product-descr1 {
	color: #969da3;
	font-size: 18px;
    line-height: 24px;
    margin: 0 210px;
    line-height: 35px;
}
.product-pic {
	margin: 100px 0;
	position: relative;
}
.product-nav-cta1 {
	display: inline;
	background-color: #2fca2d;
	color: #fff;
	position: absolute;
	height:30px;
	width:30px;
	border-radius: 50%;
	bottom:320px;
	left:330px;
	padding-top: 6px;

}
.product-nav-cta1:hover:before {
	content: "";
	position: absolute;
	top: -8px;
	left: -7px;
	height: 40px;
	width: 40px;
	border: 3px solid #2fca2d;
	border-radius: 50%;
	background-color: transparent;
}
.product-nav-cta2 {
	display: inline;
	background-color: #2fca2d;
	color: #fff;
	position: absolute;
	height:30px;
	width:30px;
	border-radius: 50%;
	bottom:110px;
	left:345px;
	padding-top: 6px;
}
.product-nav-cta2:hover:before {
	content: "";
	position: absolute;
	top: -8px;
	left: -7px;
	height: 40px;
	width: 40px;
	border: 3px solid #2fca2d;
	border-radius: 50%;
	background-color: transparent;
}
.product-nav-cta3 {
	display: inline;
	background-color: #2fca2d;
	color: #fff;
	position: absolute;
	height:30px;
	width:30px;
	border-radius: 50%;
	bottom:210px;
	left:560px;
	padding-top: 6px;
}
.product-nav-cta3:hover:before {
	content: "";
	position: absolute;
	top: -8px;
	left: -7px;
	height: 40px;
	width: 40px;
	border: 3px solid #2fca2d;
	border-radius: 50%;
	background-color: transparent;
}
.product-nav-cta4 {
	display: inline-block;
	background-color: #2fca2d;
	color: #fff;
	position: absolute;
	height:30px;
	width:30px;
	border-radius: 50%;
	bottom: 417px;
	left: 637px;
	padding-top: 6px;
}
.product-nav-cta4:hover:before {
	content: "";
	position: absolute;
	top: -7px;
	left: -7px;
	height: 40px;
	width: 40px;
	border: 3px solid #2fca2d;
	border-radius: 50%;
	background-color: transparent;
}
.hiw-section {}
.hiw-steps {
	display: block;
	list-style: none;
	margin: 30px 0;
	padding: 0;
}
.hiw-steps > .hiw-step {
	position: relative;
	float: left;
	width: 33%;
	padding: 20px;

}
.hiw-steps > .hiw-step > .hiw-step-image {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
.hiw-steps > .hiw-step > .hiw-step-title {
	color: #374048;
	font-size: 26px;
	margin-bottom: 10px;

}
.hiw-steps > .hiw-step > .hiw-step-description {
	color: #737c85;
	font-size: 16px;
	line-height: 26px
}
.hiw-steps > .hiw-step > .hiw-step-arrow {
	display: block;
	position: absolute;
	top: 70px;
	right: -5px;
	width: 20px;
	height: 20px;
	border-top: 2px solid #a6afba;
	border-right: 2px solid #a6afba;
	transform : rotate(45deg);
}
.benefit {
	position: relative;
	width: 25%;
	float: left;
	list-style: none;
	text-align: left;
	margin: 10px 20px 0 50px;
}
.section-title {
	color: #374048;
}
.benefit-descr {
	color: #82898f;
	margin-top: -10px;
	font-size: 12px;
}
.icons{
	position: absolute;
	width: 36px;
	height: 36px;
	top: 25px;
	left: -45px;
}


.section-title {
	margin-top: 90px;
	color: #374048;
	font-size: 40px;
}
.section-description {
	color: #969da3;
	font-size: 20px;
    line-height: 24px;
    margin: 0 150px;
    line-height: 35px;
}
.iconed-list {
	list-style: none;
	margin: 0;
	padding: 0;

}
.iconed-list .iconed-list-item {
	text-align: left;
	position: relative;
	display: block;
	width: 33.333%;
	float: left;
	margin-top: 50px;

}
.iconed-list .iconed-list-item-icon {
	font-size: 35px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 4px;
	line-height: 1;
	margin-top: 2px;
	color: #2FCA2D;
}
.iconed-list .iconed-list-item-content {
	padding-left: 60px;


}
.iconed-list .iconed-list-item-title {
	margin: 0 0 6px;
	color: #374048;
	font-size: 22px;
	margin: 0;
}
.iconed-list .iconed-list-item-description {
	color: #82898f;
	font-size: 14px;
	line-height: 22px;
}


.benefits-list {}
.benefits-list .benefits-item {}
.benefits-list .benefits-item .benefits-item-icon {}
.benefits-list .benefits-item .benefits-item-content {}
.benefits-list .benefits-item .benefits-item-title {}
.benefits-list .benefits-item .benefits-item-description {}


.watch-features-section {
	position: relative;
}

.watch-features-list:after {
	content: "";
	display: block;
	background: url('../image/watch3.png') center no-repeat;
	width: 283px;
	height: 510px;
	position: absolute;
	top: calc(50%-510px / 2)
	left:calc (50%-283px / 2);
}

.watch-features-list > .watch-features-list-item {
	margin: 30px 0;
}
.watch-features-list > .watch-features-list-item:nth-child(odd) {
	margin-right: 16.666%
}
.watch-features-list > .watch-features-list-item:nth-child(even) {
	margin-left: 16.666%
}














