body {
	margin: 0;
	font-family: sans-serif;
	background-image: url(image/backgr.jpg) | none[, url(image/backgr.jpg) | none]*;
	height: 100%;
	width: 100%;

}
.clearfix {
	overflow: auto;
}
.container {
	display: block;
	width: 1024px;
	margin: 0 auto;

}
.header {
	height: 60px;
}
.header-logo {
	display: block;
	float: left;

}
ul.header-nav {
	float: right;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ul.header-nav > li {
	display: inline-block;
}
ul.header-nav > li > a {
	display: inline-block;
	padding: 19px 10px;
	color: #8f969d;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}
ul.header-nav > li > a:hover {
	color: black;
}
.btn-buy {
	color: white;
	padding: 0 20px;
	background-color: #ff6622;
	border-radius: 50px;
}
.jumbo  {
	text-align: center;
	

}
.jumbo > h1 {
	margin-top: 110px;
	color: #374048;
	font-size: 81px;
}
.jumbo > p {
	color: #8f969d;
	font-size: 30px;
	margin: 10px 230px;
}
.jumbo > div {
	margin-top: 60px;
}
.jumbo > div > a {
	font-size: 30px;
	color: white;
	background-color: #0084ff;
	border-radius: 50px;
	padding: 20px 80px;
	text-decoration: none;
}
.jumbo > img {
	margin-top: 100px;
}