@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/300/open-sans-300.eot');
    src: url('../fonts/open-sans/300/open-sans-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/300/open-sans-300.woff2') format('woff2'),
         url('../fonts/open-sans/300/open-sans-300.woff') format('woff'),
         url('../fonts/open-sans/300/open-sans-300.ttf') format('truetype'),
         url('../fonts/open-sans/300/open-sans-300.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/300-italic/open-sans-300-italic.eot');
    src: url('../fonts/open-sans/300-italic/open-sans-300-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/300-italic/open-sans-300-italic.woff2') format('woff2'),
         url('../fonts/open-sans/300-italic/open-sans-300-italic.woff') format('woff'),
         url('../fonts/open-sans/300-italic/open-sans-300-italic.ttf') format('truetype'),
         url('../fonts/open-sans/300-italic/open-sans-300-italic.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/400/open-sans-400.eot');
    src: url('../fonts/open-sans/400/open-sans-400.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/400/open-sans-400.woff2') format('woff2'),
         url('../fonts/open-sans/400/open-sans-400.woff') format('woff'),
         url('../fonts/open-sans/400/open-sans-400.ttf') format('truetype'),
         url('../fonts/open-sans/400/open-sans-400.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/400-italic/open-sans-400-italic.eot');
    src: url('../fonts/open-sans/400-italic/open-sans-400-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/400-italic/open-sans-400-italic.woff2') format('woff2'),
         url('../fonts/open-sans/400-italic/open-sans-400-italic.woff') format('woff'),
         url('../fonts/open-sans/400-italic/open-sans-400-italic.ttf') format('truetype'),
         url('../fonts/open-sans/400-italic/open-sans-400-italic.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/600/open-sans-600.eot');
    src: url('../fonts/open-sans/600/open-sans-600.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/600/open-sans-600.woff2') format('woff2'),
         url('../fonts/open-sans/600/open-sans-600.woff') format('woff'),
         url('../fonts/open-sans/600/open-sans-600.ttf') format('truetype'),
         url('../fonts/open-sans/600/open-sans-600.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/600-italic/open-sans-600-italic.eot');
    src: url('../fonts/open-sans/600-italic/open-sans-600-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/600-italic/open-sans-600-italic.woff2') format('woff2'),
         url('../fonts/open-sans/600-italic/open-sans-600-italic.woff') format('woff'),
         url('../fonts/open-sans/600-italic/open-sans-600-italic.ttf') format('truetype'),
         url('../fonts/open-sans/600-italic/open-sans-600-italic.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/700/open-sans-700.eot');
    src: url('../fonts/open-sans/700/open-sans-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/700/open-sans-700.woff2') format('woff2'),
         url('../fonts/open-sans/700/open-sans-700.woff') format('woff'),
         url('../fonts/open-sans/700/open-sans-700.ttf') format('truetype'),
         url('../fonts/open-sans/700/open-sans-700.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/700-italic/open-sans-700-italic.eot');
    src: url('../fonts/open-sans/700-italic/open-sans-700-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/700-italic/open-sans-700-italic.woff2') format('woff2'),
         url('../fonts/open-sans/700-italic/open-sans-700-italic.woff') format('woff'),
         url('../fonts/open-sans/700-italic/open-sans-700-italic.ttf') format('truetype'),
         url('../fonts/open-sans/700-italic/open-sans-700-italic.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/800/open-sans-800.eot');
    src: url('../fonts/open-sans/800/open-sans-800.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/800/open-sans-800.woff2') format('woff2'),
         url('../fonts/open-sans/800/open-sans-800.woff') format('woff'),
         url('../fonts/open-sans/800/open-sans-800.ttf') format('truetype'),
         url('../fonts/open-sans/800/open-sans-800.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/800-italic/open-sans-800-italic.eot');
    src: url('../fonts/open-sans/800-italic/open-sans-800-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/800-italic/open-sans-800-italic.woff2') format('woff2'),
         url('../fonts/open-sans/800-italic/open-sans-800-italic.woff') format('woff'),
         url('../fonts/open-sans/800-italic/open-sans-800-italic.ttf') format('truetype'),
         url('../fonts/open-sans/800-italic/open-sans-800-italic.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'linecons';
    src: url('../fonts/linecons/400/linecons-400.eot');
    src: url('../fonts/linecons/400/linecons-400.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linecons/400/linecons-400.woff2') format('woff2'),
         url('../fonts/linecons/400/linecons-400.woff') format('woff'),
         url('../fonts/linecons/400/linecons-400.ttf') format('truetype'),
         url('../fonts/linecons/400/linecons-400.svg#linecons') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: OpenSans, sans-serif;
	height: 100%;
	width: 100%;
	text-align: center;
	position: relative;

}
.clearfix {
	overflow: auto;
}
.container {
	display: block;
	width: 1024px;
	margin: 0 auto;

}
.section-color {
	display: block;
	background-color: #f8fbfd;
	width: 1024px;
	margin: 0 auto;
}
.container1 {
	display: block;
	width: 1024px;
	margin: 0 auto;
	background-color: #f8fbfd;

}
.header-wrapper {
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	
}
.header {
	height: 60px;
	overflow: hidden;
	z-index: 1;

}
.header-logo {
	display: block;
	float: left;
	padding: 2px 0;

}
ul.header-nav {
	float: right;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ul.header-nav > li {
	display: inline-block;
}
ul.header-nav > li > a {
	display: inline-block;
	padding: 19px 10px;
	color: #8f969d;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}
ul.header-nav > li > a:hover {
	color: black;
}
.header-nav > li.header-nav-cta > a {
	background-color: #2fca2d;
	border-radius: 20px;
	padding: 6px 30px; 
	color: #fff;
}
/*
.btn-buy {
	color: white;
	padding: 0 20px;
	background-color: #ff6622;
	border-radius: 50px;
}
.jumbo  {
	text-align: center;
	

}
.jumbo > h1 {
	margin-top: 110px;
	color: #374048;
	font-size: 81px;
}
.jumbo > p {
	color: #8f969d;
	font-size: 30px;
	margin: 10px 230px;
}
.jumbo > div {
	margin-top: 60px;
}
.jumbo > div > a {
	font-size: 30px;
	color: white;
	background-color: #0084ff;
	border-radius: 50px;
	padding: 20px 80px;
	text-decoration: none;
}
.jumbo > img {
	margin-top: 100px;
}
*/ 
.product {
	position: relative;
	background: url(../image/backgr.jpg) center no-repeat ;
	height: 1000px;
	padding-top: 60px;
	text-align: center;


}
	.product-title {
		color: #374048;
		font-size: 79px;
		padding-top: 10px;

	}
	.product-description {
		color: #8a9095;
		font-size: 27px;
		padding: 0 130px;
		line-height: 44px;


	}
	.product-cta {
		display: inline-block;
		background-color: #2fca2d;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 27px;
		padding: 20px 40px;
		border-radius: 30px;
		margin-top: 40px;

	}
	.product-cta:hover {
		background-color: #337ab7;
	}

	.product-image {
		position: absolute;
		width: 290px;
		height: 328px;
		bottom: 40px;
		left: 50%;
		margin: 0 0 0 -145px;
	}
.the_product {
	

}
.product-name {
	margin-top: 90px;
	color: #374048;
	font-size: 40px;
}
.product-descr {
	color: #969da3;
	font-size: 20px;
    line-height: 24px;
    margin: 0 150px;
    line-height: 35px;

}
.product-descr1 {
	color: #969da3;
	font-size: 18px;
    line-height: 24px;
    margin: 0 210px;
    line-height: 35px;
}
.product-pic {
	margin: 100px 0;
	position: relative;
}
.product-nav-cta1 {
	display: inline;
	background-color: #2fca2d;
	color: #fff;
	position: absolute;
	height:30px;
	width:30px;
	border-radius: 50%;
	bottom:320px;
	left:330px;
	padding-top: 6px;

}
.product-nav-cta1:hover:before {
	content: "";
	position: absolute;
	top: -8px;
	left: -7px;
	height: 40px;
	width: 40px;
	border: 3px solid #2fca2d;
	border-radius: 50%;
	background-color: transparent;
}
.product-nav-cta2 {
	display: inline;
	background-color: #2fca2d;
	color: #fff;
	position: absolute;
	height:30px;
	width:30px;
	border-radius: 50%;
	bottom:110px;
	left:345px;
	padding-top: 6px;
}
.product-nav-cta2:hover:before {
	content: "";
	position: absolute;
	top: -8px;
	left: -7px;
	height: 40px;
	width: 40px;
	border: 3px solid #2fca2d;
	border-radius: 50%;
	background-color: transparent;
}
.product-nav-cta3 {
	display: inline;
	background-color: #2fca2d;
	color: #fff;
	position: absolute;
	height:30px;
	width:30px;
	border-radius: 50%;
	bottom:210px;
	left:560px;
	padding-top: 6px;
}
.product-nav-cta3:hover:before {
	content: "";
	position: absolute;
	top: -8px;
	left: -7px;
	height: 40px;
	width: 40px;
	border: 3px solid #2fca2d;
	border-radius: 50%;
	background-color: transparent;
}
.product-nav-cta4 {
	display: inline-block;
	background-color: #2fca2d;
	color: #fff;
	position: absolute;
	height:30px;
	width:30px;
	border-radius: 50%;
	bottom: 417px;
	left: 637px;
	padding-top: 6px;
}
.product-nav-cta4:hover:before {
	content: "";
	position: absolute;
	top: -7px;
	left: -7px;
	height: 40px;
	width: 40px;
	border: 3px solid #2fca2d;
	border-radius: 50%;
	background-color: transparent;
}
.hiw-section {}
.hiw-steps {
	display: block;
	list-style: none;
	margin: 30px 0;
	padding: 0;
}
.hiw-steps > .hiw-step {
	position: relative;
	float: left;
	width: 33%;
	padding: 20px;

}
.hiw-steps > .hiw-step > .hiw-step-image {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
.hiw-steps > .hiw-step > .hiw-step-title {
	color: #374048;
	font-size: 26px;
	margin-bottom: 10px;

}
.hiw-steps > .hiw-step > .hiw-step-description {
	color: #737c85;
	font-size: 16px;
	line-height: 26px
}
.hiw-steps > .hiw-step > .hiw-step-arrow {
	display: block;
	position: absolute;
	top: 70px;
	right: -5px;
	width: 20px;
	height: 20px;
	border-top: 2px solid #a6afba;
	border-right: 2px solid #a6afba;
	transform : rotate(45deg);
}
.benefit {
	position: relative;
	width: 25%;
	float: left;
	list-style: none;
	text-align: left;
	margin: 10px 20px 0 50px;
}
.section-title {
	color: #374048;
}
.benefit-descr {
	color: #82898f;
	margin-top: -10px;
	font-size: 12px;
}
.icons{
	position: absolute;
	width: 36px;
	height: 36px;
	top: 25px;
	left: -45px;
}


.section-title {
	margin-top: 90px;
	color: #374048;
	font-size: 40px;
}
.section-description {
	color: #969da3;
	font-size: 20px;
    line-height: 24px;
    margin: 0 150px 50px;
    line-height: 35px;
}
.section-description:after {
	background-color: #eee;
	content: '';
    width: 82px;
    height: 6px;
    display: block;
 	margin: 30px 0 0 320px;
}

.iconed-list {
	list-style: none;
	margin: 0;
	padding: 0;

}
.iconed-list .iconed-list-item {
	text-align: left;
	position: relative;
	display: block;
	width: 33.333%;
	float: left;
	margin-top: 50px;

}
.iconed-list .iconed-list-item-icon {
	font-size: 35px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 4px;
	line-height: 1;
	margin-top: 2px;
	color: #2FCA2D;
}
.iconed-list .iconed-list-item-content {
	padding-left: 60px;


}
.iconed-list .iconed-list-item-title {
	margin: 0 0 6px;
	color: #374048;
	font-size: 22px;
	margin: 0;
}
.iconed-list .iconed-list-item-description {
	color: #82898f;
	font-size: 14px;
	line-height: 22px;
}


.benefits-list {}
.benefits-list .benefits-item {}
.benefits-list .benefits-item .benefits-item-icon {}
.benefits-list .benefits-item .benefits-item-content {}
.benefits-list .benefits-item .benefits-item-title {}
.benefits-list .benefits-item .benefits-item-description {}


.watch-features-section {
	position: relative;
	margin-top: 60px;
}

.watch-features-list:after {
	content: "";
	display: block;
	background: url('../image/watch3.png') center no-repeat;
	width: 283px;
	height: 510px;
	position: absolute;
	left: 370px;
}

.watch-features-list > .watch-features-list-item {
	margin: 30px 0;
}
.watch-features-list > .watch-features-list-item:nth-child(odd) {
	margin-right: 16.666%
}
.watch-features-list > .watch-features-list-item:nth-child(even) {
	margin-left: 16.666%
}
.section-products-collection {
	margin-bottom: 70px;
}
.products-collection-list {
	list-style: none;
	margin: 0 -15px;
	padding: 0;

}
.products-collection-item {
	width: 25%;
	float: left;
	text-align: center;
	overflow: hidden;
	padding: 0 15px;
}
.products-collection-item > .item-image {}
.products-collection-item > .item-title {
	color: #2FCA2D;
	font-size: 16px;
	line-height: 1;
	margin-bottom: 0;

}
.products-collection-item > .item-description {
	color: #b4bcc3;
	font-size: 13px;
	line-height: 1;
	margin-top: 4px;
	margin-bottom: 6px;
}
.products-collection-item > .item-price {
	color: #9300FF;
	font-size: 19px;
	line-height: 1;
	margin: 14px 0 20px; 
	font-weight: 700;
}
.products-collection-item > .item-button {
	display: inline-block;
	color: #b4bcc3;
	font-size: 12px;
	line-height: 26px;
	border: 1px solid #e1e4e7;
	border-radius: 30px;
	padding: 2px 33px 3px;
	text-transform: uppercase;

}
.products-collection-item > .item-button:hover {
	background-color: #333;
}

.section-products-watch {
	padding: 50px 0 100px 50px;  
	text-align: left;
	position: relative;
}
.section-watch-description {
	margin: 0 0 50px 0;
	color: #969da3;
    font-size: 20px;
    line-height: 30px;
    width: 50%;
}
.section-watch-description:after {
	background-color: #eee;
	content: '';
    width: 82px;
    height: 6px;
    display: block;
    margin: 25px 0 0 0;
}

.watch-description-list {
	margin: 0;
	padding: 0;
}
.watch-description-item {
	color: #696f74;
	position: relative;
    display: block;
    font-size: 20px;
    font-weight: 300;
    padding-left: 50px;
}
.watch-description-item:before {
	content: "";
	background: url('../image/check.png') center no-repeat;
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
}
.watch-description-list:after {
	content: "";
	display: block;
	background: url('../image/watch4.png') center no-repeat;
	width: 316px;
	height: 568px;
	position: absolute;
	top: 80px;
	right: 80px;
}
.section-hands-on {
	margin: 0;
	padding: 0;
}
.hands-on-block  {
	display: inline-block;
	width: 50%;
	height: 293px;
	
}
.hands-on-image-1 {
	width: 50%;
	height: auto;
	display: inline-block;
	float: left;
}
.hands-on-image-2 {
	width: 50%;
	height: auto;
	display: inline-block;
	float: right;
}
.hands-on-title {
	padding: 20px 0 0 0;
	color: #374048;
	font-weight: 800;
	font-size: 32px;

}
.hands-on-description {
	padding: 0 40px;
	text-align: left;
	color: #c0cad0;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;

}
.section-reviews {
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
}
.reviews-list {
	margin: 0;
	padding: 0;
}
.reviews-item {
	padding: 70px 10px 110px 10px;
	position: relative;
	display: inline-block;
	width: 33%;
	list-style: none;
	color: #353535;
	font-size: 17px;
	font-weight: 300;
}
.reviews-item:before {
	content: "";
	background: url('../image/quote.png') center no-repeat;
	display: block;
	width: 43px;
	height: 35px;
	position: absolute;
	top: 0;
	left: 142px;
}
.reviews-item:nth-child(1):after {
	content: "";
	background: url('../image/reviewer1.png') center no-repeat;
	display: block;
	width: 225px;
	height: 46px;
	position: absolute;
	top: 200px;
	left: 66px;
	opacity: 0.5;
}
.reviews-item:nth-child(2):after {
	content: "";
	background: url('../image/reviewer2.png') center no-repeat;
	display: block;
	width: 201px;
	height: 43px;
	position: absolute;
	top: 203px;
	left: 70px;
	opacity: 0.5;
}
.reviews-item:nth-child(3):after {
	content: "";
	background: url('../image/reviewer3.png') center no-repeat;
	display: block;
	width: 169px;
	height: 47px;
	position: absolute;
	top: 199px;
	left: 85px;
	opacity: 0.5;
}
.featured {
	color: #374048;
	font-weight: 600;
	font-size: 22px;
	padding: 100px 0 20px 0;
}
.featured-list {
	opacity: 0.5;

}
.featured-item  {
	float: left;
	list-style: none;
	padding-bottom: 70px;
	
}
.featured-item img {
	width: 160px;
	height: 31px;
	padding: 0 10px 0 0;
}
.faq-cta {
	text-decoration: none;
	color: #2FCA2D;
}
.faq-cta:hover {
	color: #374048;
}
.faq-list {
	padding: 0;
	margin: 0 -20px;
	list-style: none;

}
.faq-item {
	float: left;
	width: 50%;
	text-align: left;
	padding: 0 0 10px 20px;
}
.small-item-title {
	color: #374048;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: -12px;

}
.small-item-description {
	color: #82898f;
	font-size: 15px;
	font-weight: 300;
}
.tech-specs-list {
	padding: 0;
	margin: 0 -40px;
	list-style: none;
}
.tech-specs-item {
	border-top: 1px solid rgba(130,137,143,.1);
	float: left;
	width: 33%;
	text-align: left;
	padding: 10px 0;
	min-height: 250px;
}
.tech-specs-item-title {
	color: #374048;
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 0 40px;
}
.tech-specs-item-description-list {
	list-style: none;
}
.tech-specs-item-description {
	color: #82898f;
	font-size: 15px;
	font-weight: 300;
	padding: 2px 0;
}
.section-the-team {
	padding-bottom: 100px;
}
.the-team-members {
	width: 1024px;
	overflow: hidden;
}
.the-team-member {
	padding: 0 14px;
	display: inline-block;
	float: left;
	width: 25%;
	height: auto;
}
.member-image {
	display: block;
	height: auto;
	width: 100%;
}
.member-title {
	padding: 0;
	margin: 0;
	color: #374048;
	font-size: 20px;
	font-weight: 600;
	background-color: white;
}
.member-descrription {
	padding: 0 0 16px 0;
	margin:0;
	color: #82898f;
	font-size: 14px;
	font-weight: 300;
	background-color: white;
}
.timeline-table {
	padding: 30px 0;
	margin-top: -60px;
	position: relative;
}
.timeline-table:after {
	background-color: #dee0e2;
	content: '';
    width: 8px;
    height: 800px;
    display: block;
 	position: absolute;
 	top: 110px;
 	left: 508px;
}
.timeline-table-row {
	margin: 0;
	padding: 0;
	position: relative;
}
.on-bar-content p {
	display: inline-block;
	color: #bfc2c5;
	background-color: #dee0e2;
	width: 96px;
	height: 30px;
	border-radius: 4px;
	font-weight: 600;
	font-size: 15px;
	padding: 5px 30px;
	margin: 50px 0 0 0;
	position: relative;
	z-index: 6;
}
.timeline-left-col {
	display: inline-block;
	width: 50%;
	float: left;
	margin: 50px 0 0 0;
	text-align: right;
	padding: 0 50px;
}
.timeline-right-col {
	display: inline-block;
	width: 50%;
	float: right;
	margin: 50px 0 0 0;
	text-align: left;
	padding: 0 50px;
	
}
.timeline-right-col:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border: 6px solid;
    border-radius: 100%;
    position: absolute;
    top: 64px;
    left: 496px;
    border-color: #dee0e2;
    background: #fff;
    z-index: 5;
}
.timeline-table-date {
	display: inline-block;
	color: #dadce0;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	padding: 20px 25px;
}
.timeline-table-info {
	display: inline-block;
	color: #6a737b;
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	padding: 17px 25px;
	background: #f5f8fa;
	border-radius: 4px;
}
.section-mobile-app {
	margin: 0;
	padding: 0;
	background: url('../image/mobile-ap-bg.jpg') center no-repeat;
}

.mobile-app-image {
	float: left;
	width: 50%;
	margin: 100px 0 0 0;
}
.mobile-app-image > img {
	width: 450px;
	height: auto;
}
.mobile-app-info {
	float: left;
	width: 50%;
	text-align: left;
	padding: 150px 50px 0 50px;
	margin: 0;
}
.mobile-app-info-title {
	color: #fff;
	font-size: 47px;
	font-weight: 700;
	margin: 0 -50px;
}
.mobile-app-info-description {
	font-size: 25px;
	font-weight: 300;
	color: #feffff;
	opacity: 0.8;
	margin: 0 -50px;
}
.mobile-apps {
	width: 100%;
	padding: 35px 0 0 0;
	margin: 0 -50px
}
.mobile-app-app-store-image {
	padding-right: 15px;
}

.section-newsletter-subscribe {
	margin: 0 190px;
	position: relative;
}
.section-newsletter-input-bar {
	float: left;
	font-size: 19px;
    height: 80px;
    line-height: 80px;
    padding: 0 38px;
    width: 500px;
    border: 1px solid #e0e8ee;
    background: #f8fbfd;
}
.section-newsletter-input-btn {
	float: left;
	height: 80px;
	width: 140px;
	background-color: #2FCA2D;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

}
.section-newsletter-protect {
	color: #c0cad0;
	font-size: 15px;
	font-weight: 300;
}
.section-newsletter-protect > img {
	padding: 10px 10px 0 0;
}
.section-newsletter-input-btn:before {
	content: "";
	display: block;
	position: absolute;
	top: 30px;
	right: 70px;
	width: 20px;
	height: 20px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	transform : rotate(45deg);
}
.section-contacts {
	margin: 100px auto 0;
	padding: 0;
	background: url('../image/map.jpg') center no-repeat;
	width: 1024px;
	height: auto;

}
.contacts-block {
	margin: 70px auto;
	padding: 0 60px;
	background-color: #fff;
	width: 555px;
    min-height: 406px;
    text-align: left;
}
.contact-block-title {
	color: #374048;
	font-weight: 700;
	font-size: 27px;
	padding: 40px 20px 0;
	margin: 0 0 0 -20px;
}
.contact-block-list {
	color: #a5aeb3;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 60px 10px 30px;
	list-style: none;

}
.contact-block-list-adress {
	padding: 10px;
}
.contact-block-list-phone {
	padding: 10px;
}
.contact-block-list-mail {
	padding: 10px;
}
.block-list-icon {
	margin: 0 0 0 -50px;
}
.contact-block-button {
	height: 50px;
	width: 100%;
	background-color: #2FCA2D;
	font-weight: 600;
	font-size: 19px;
}